/* game.css */

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden; /* Ensure no overflow issues */
}

.carousel_track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    -webkit-overflow-scrolling: touch; /* Add smooth scrolling for iOS */
}

.carousel_slide {
    min-width: 100%;
    user-select: none; /* Prevent text selection during drag */
}

.carousel_indicator {
    cursor: pointer;
    background-color: gray;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.carousel_indicator.active {
    background-color: black;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.play-button-container {
    margin-top: 20px;
    text-align: center;
}

.play-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.play-button:hover {
    background-color: gray;
}
