body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFC800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Center the content vertically */
}

.menu-container {
    width: 390px;
    height: 979px;
    position: relative;
    background: #FFC800;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensure this is set to center for horizontal alignment */
    justify-content: center; /* This will vertically center all children if needed */
}

.header-text, .subheader-text {
    width: 373.026px;
    flex-shrink: 0;
    color: #FF5F00;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0%; /* Adjust as needed */
    margin-left: -20px;
}

.first-image, .second-image {
    width: 100%; /* Full width of their container */
    height: auto; /* Maintain aspect ratio */
    flex-shrink: 0;
    margin-left: -15px;
    margin-right: auto; /* This centers the images horizontally */
    margin-top: 0px; /* Consistent top margin for spacing, adjust as necessary */
}

.second-image {
    margin-top: -5px; /* Adjusted to be consistent */
    width: 105%; /* Full width of their container */
    height: auto; /* Maintain aspect ratio */
    margin-left: -25px;

}
