body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFC800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Center the content vertically */
}

.menu-container {
    width: 390px;
    height: 979px;
    position: relative;
    background: #FFC800;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text {
    width: 373.026px;
    height: 50.387px;
    flex-shrink: 0;
    color: #FF5F00;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10%;
    margin-left: -5%;
}

/* Figma styles for WIN PUB PRIZES */
.subheader-text {
    width: 373.026px;
    height: 80px;
    flex-shrink: 0;
    text-align: center;
    color: #FF5F00;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 25px;
    margin-left: -5%;
}




.first-image {
width: 647.044px;
height: 355.696px;
flex-shrink: 0;
margin-left: -48px;
margin-top: -10%;
}

.second-image {
    width: 351px;
    height: 263px;
    margin-top: -50px; /* Example: Spacing adjustment */
    margin-left: -25px;
}
